/* ==================
General
================== */

.content {
  background-color: #fff;
  min-height: 100%;
}

#home .content {
  top: 100%;
  position: relative;
}

.container {
  max-width: 1000px;
  margin: 0px auto;
  z-index: 0;
}

/* ==================
Navbar
================== */

nav {
  font-family: "Josefin Sans";
  font-weight: 700;
  z-index: 2;
  position: fixed;
  bottom: 0px;
  opacity: 0;
  transition: .25s;
}

nav.display {
  opacity: 1;
  transition: .25s;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 25px 0px 0px 50px;
  font-size: 20px;
}

nav li {
  border: 1px solid #000;
  margin: 25px 0px;
  border-radius: 5px;
}

nav a {
  color: #333;
  padding: 10px 25px;
  display: block;
}

nav li:hover a {
  color: #96460b;
}

nav li:hover {
  border: 1px solid #96460b;
}

/* ==================
Homepage Header
================== */

header {
  height: 100%;
  width: 100%;
  background-image: url('../img/headerblur1.jpg');
  background-size: cover;
  position: fixed;
}

.header-container {
  margin: 0px auto;
  width: 500px;
  text-align: center;
  top: 20%;
  position: relative;
}

header h1 {
  font-family: "Arvo";
  font-weight: 700;
  font-size: 65px;
  color: #bc4800;
  text-shadow: 1px 1px 2px #555;
}

header p {
  font-size: 25px;
  font-family: "Josefin Sans";
  line-height: 1.75;
  font-weight: 600;
  color: #333;
}

/* ==================
Articles
================== */

article {
  padding: 90px 0px;
}

article h1 {
  margin: 0px;
  padding: 5px 0px;
  font-family: "Arvo";
  font-weight: 700;
}

article h3 {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 30px;
}

article img {
    margin: 25px auto;
    border: 1px solid #333;
    border-radius: 3px;
    display: block;
    box-shadow: 0px 0px 5px 1px #aaa;
}

article p {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 25px;
}
