/* ==================
General
================== */

.content {
  background-color: #fff;
}

#home .content {
  top: 100% !important;
  position: relative;
}

.container {
  max-width: 1000px;
  margin: 0px auto;
  z-index: 0;
}

/* ==================
Navbar
================== */

nav {
  font-family: "Josefin Sans";
  font-weight: 700;
  z-index: 2;
  top: 100%;
  position: relative;
  background-color: white;
  width: 100%;
}

nav.fixed {
  position: fixed;
  top: 0%;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  font-size: 20px;
  height: 50px;
}

nav li {
  border-top: 1px solid #fff;
  display: inline;
  line-height: 50px;
  padding: 14px 10px;
  margin: 0px 5px;
}

nav a {
  color: #333;
}

nav li:hover a {
  color: #96460b;
}

nav li:hover {
  border-top: 1px solid #96460b;
}

/* ==================
Homepage Header
================== */

header {
  height: 100% !important;
  width: 100%;
  background-image: url('../img/headerblur1.jpg');
  background-size: cover;
  position: fixed;
}

.header-container {
  margin: 0px auto;
  width: 500px;
  text-align: center;
  top: 20%;
  position: relative;
  opacity: 0;
}

header h1 {
  font-family: "Arvo";
  font-weight: 700;
  font-size: 65px;
  color: #415464;
  text-shadow: 1px 1px 2px #555;
}

header p {
  font-size: 25px;
  font-family: "Josefin Sans";
  line-height: 1.75;
  font-weight: 600;
  color: #333;
}

/* ==================
Articles
================== */

article {
  padding: 90px 0px;
}

article h1 {
  margin: 0px;
  padding: 5px 0px;
  font-family: "Arvo";
  font-weight: 700;
}

article h3 {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 30px;
}

article img {
    margin: 25px auto;
    border: 1px solid #333;
    border-radius: 3px;
    display: block;
    box-shadow: 0px 0px 5px 1px #aaa;
}

article p {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 25px;
}
